.container {
  display: grid;
  /*fr's represent flexible units*/
  height: 90vh;
  width: 90vw;
  grid-template-columns: 1fr 2fr;
}

.cell {
  text-align: center
}

.cell-1{
  background: goldenrod
}

.cell-2{
  background: blueviolet
}

/*#content {
  margin-left: auto;
  margin-right: auto;
}

#greeting-container {
  margin-top: 20px;
}*/
