.grid-container {
  display: grid;
  /*fr's represent flexible units*/
  grid-template-columns: 1fr 2fr;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

#greeting-container {
  margin-top: 20px;
}
